
/* Style the navigation menu */
.topnav {
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
   .li-child  {
    color: #1E2022;
    text-decoration: none;
    font-size: 2rem;
    display: block;
    font-family: sans-serif;
    margin: 0.5rem 0.5rem;
  }
  
  /* Style the hamburger menu */
  
  .fa {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      margin: 1rem 2rem 0rem 0rem;
      position: absolute;
  }
  
  .topnav .icon {
    display: flex;
    position: relative;
    color: black;
    font-size: 4rem;
    justify-content: end;
    height: 100px;
  }
  
  .navbar {
      margin-top: 1rem;
  }
  
  .site-logo{
    display: none;
  }
  
  
  @media screen and (min-width: 768px) {
    .fa {
      display: none !important;

    }
  
    .topnav #myLinks {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 1rem;
      height: 120px;
    }
  
    .site-logo {
      display: block;
      position: absolute;
    }
  
    .li-child {
      color: black;
      font-weight: bold;
      margin-right: 1rem;
      font-family: sans-serif;
    }


    .topnav .icon {
      display: flex;
      position: relative;
      color: black;
      font-size: 4rem;
      justify-content: end;
      height: 0px;
    }
  
  }
  