#mc_embed_signup {
    display: flex;
    width: 100% !important;
}

.mc-field-group > input {
    padding-right: 7rem !important;
    padding-left: 1rem !important;
}

#mc-embedded-subscribe-form {
    width: 100%;
    display: flex !important;
    position: relative;
    text-align: left;
    margin: 20px;
    justify-content: center;
}

#mc_embed_signup_scroll {
    border-top: 2.99px solid black;
    border-bottom: 2.99px solid #1e2022;
    border-left: 2.99px solid black;
    width: 25%;
    height: 269.8px;
    margin: 6.12rem 0rem 0rem 0rem;
    margin-left: 6rem;
}

#mce-EMAIL{
    display: block;
    width: 50% !important;
    padding: 8px 0;
    text-indent: 2%;
    height: 2rem;
}

.newsletter-image {
    height: 400px;
    width: 25%;
}

#mc-embedded-subscribe {

}

/* 1100px tar vi bort bilden */
.mc-field-group {
    margin: 3rem 0rem 0rem 3rem;
}

.optionalParent {
    margin-left: 3rem;
}

.indicates-required {
    text-align: left;
    font-size: 11px;
    margin-left: 3rem;
    margin-top: 1rem;
    position: absolute;
}

@media screen and (max-width: 1200px) {
.newsletter-image {
    display: none;
}

#mc_embed_signup_scroll {
   border: 3px solid black;
    width: 75%;
    height: 269.8px;
    margin: 6.12rem 0rem 0rem 0rem;
}

#mc_embed_signup .mc-field-group {
    width: 50% !important;
    display: grid;
}


#mc_embed_signup {
    display: flex;
     width: 100% !important; 
    padding-right: 0rem !important; 
}


}